* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Raleway', 'Ariel', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    }
    
section {
    padding: 80px 0;
    }

/*Headings*/
h1, 
h2 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 150%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: rgb(209, 125, 153);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*Paragraphs*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*HEADER*/
header {
    background-image: url(../images/backgroundimage.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}
.name-title {
    margin: 160px 0 20px 70px;
    font-size: 250%;
}
.job-title {
    font-size: 100%;
    margin-right: -10px;
}
.selfie img { 
    width: 280px;
    height: 280px;
    margin: 90px;
    border-radius: 50%
}

/* Main Navigation*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
    padding-right: 20px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid rgb(209, 125, 153);
}

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-menu {
    font-size: 200%;
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav {
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0px;
    color: #555;
}

.sticky .logo {
    display: none;
}

.sticky .logo-black {
    display: block;
}

/* About Me Section  */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.section-about{
    margin-bottom: 150px;
}

/*Portfolio Section*/
.section-portfolio {
    margin-top: 20px;
}
.portfolio-showcase {
    list-style: none;
    width: 100%;
}

.portfolio-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.portPhoto {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.portPhoto img {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.1s;
    opacity: 0.9;
}

.portPhoto img:hover {
    transform: scale(1.03);
    opacity: 1;
}

.portPhoto:after{
    position: absolute;
    content: attr(data-text);
    color: white;
}

/*Skills Section*/
.skillset {
    text-align: center;
}

.skill_name{
    text-align: center;
    padding: 10px;
}

/*Contact Section*/
.contact-form {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}

.send-btn{
    padding: 10px;
    border-radius: 25px;
    width: 200px;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.952);
    color: #d1d8e0;
}


/*Footer*/
footer {
    background-color: lightgrey;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.github,
.twitter,
.googleplus,
.linkedin {
    transition: color 0.2s;
}


footer p {
    color: black;
    text-align: center;
    margin-top: 20px;
}


/*SECTIONS*/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

/* Grid of Two*/
.span-2-of-2 {
	width: 100%;
}
.span-1-of-2 {
	width: 49.2%;
}
/* Grid of Three*/
.span-3-of-3 {
	width: 100%; 
}
.span-2-of-3 {
	width: 66.13%; 
}
.span-1-of-3 {
	width: 32.26%; 
}
/* Grid of Four*/
.span-4-of-4 {
	width: 100%; 
}
.span-3-of-4 {
	width: 74.6%; 
}
.span-2-of-4 {
	width: 49.2%; 
}
.span-1-of-4 {
	width: 23.8%; 
}

@media only screen and (max-width: 480px) {
	.col { 
		/*margin: 1% 0 1% 0%;*/
        margin: 0;
	}
}
@media only screen and (max-width: 480px) {
	.span-2-of-2 {
		width: 100%; 
	}
	.span-1-of-2 {
		width: 100%; 
	}
}
@media only screen and (max-width: 480px) {
	.span-3-of-3 {
		width: 100%; 
	}
	.span-2-of-3 {
		width: 100%; 
	}
	.span-1-of-3 {
		width: 100%;
	}
}
@media only screen and (max-width: 480px) {
	.span-4-of-4 {
		width: 100%; 
	}
	.span-3-of-4 {
		width: 100%; 
	}
	.span-2-of-4 {
		width: 100%; 
	}
	.span-1-of-4 {
		width: 100%; 
	}
}